<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project 2: Articles</title>
</head>
<body>
    <h1 align="center">Project 2: Articles</h1>
    <p align="center">CRUD, dinamic pages</p>

<form method="POST">
    <p>Title<input type="" name="title" value="Title"></p>
    <p>Description<input type="" name="description" value="Description"></p>
    <p>Text<textarea name="text" value="Text"></textarea></p>
    <button>Crete article</button>
    <p><a href="/"><button>Back</button></a></p>
</form>

</body>
</html>